 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    body {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #f4f4f4;
    }
.wb{
    justify-content: center;
    text-align: center;
    font-weight: 700;
    color: #2f7e78 ;
    margin: 15px;
}
    .login-box {
      width: 350px;
      background: white;
      padding: 30px;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }

    .login-box h2 {
      text-align: center;
      margin-bottom: 25px;
      color: #333;
    }

    .input-box {
      margin-bottom: 20px;
      position: relative;
    }

    .input-box input {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 8px;
      outline: none;
      font-size: 16px;
    }

    .input-box i {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      color: #666;
    }

    .btn {
      width: 100%;
      padding: 12px;
      border: none;
      background: #2f7e78;
      color: white;
      font-size: 16px;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.3s;
    }

    .btn:hover {
      background: #2f7e78;
    }

    .extra {
      text-align: center;
      margin-top: 15px;
      font-size: 14px;
    }

    .extra a {
      color: #2f7e78;
      text-decoration: none;
    }